name: own share ubuntu Template

on:
  workflow_call:
    inputs:
      runs-on:
        description: 'Runner to use'
        required: false
        default: 'ubuntu-latest'
        type: string
jobs:
  ubuntu-job:
    runs-on: ${{ inputs.runs-on }}
    steps:
      - uses: actions/checkout@v3

      - name: show user name
        run: |
          pwd
          ls -l
          whoami
          
      - name: show ubuntu version
        run: sudo cat /proc/version

      - name: install zerotier
        run: |
          curl -s https://install.zerotier.com | sudo bash
          
      - name: install tcl tk expect
        run: |
          sudo apt install tcl tk expect
          
      - name:  middify root and runner user password
        run: |
          sh common/middify_password.sh
      - name: mv /mnt/r68s/bin/targets/rockchip/armv8/*.img.gz
        run: |
          ls -l /mnt/r68s/bin/targets/rockchip/armv8/
          mkdir file
          mv /mnt/r68s/bin/targets/rockchip/armv8/*.img.gz file/
          echo "###--------------------------------------------###"
          ls -lh
          cd file && ls -lh
          echo "strDate=$(TZ=UTC-8 date +%Y-%m)" >> $GITHUB_ENV
      - name: Upload release asset
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ env.strDate }}
          file_glob: true
          overwrite: true
          release_name: ${{ env.strDate }} 自动发布
          file: file/*
