name: own share ubuntu Template

on:
  workflow_call:
    inputs:
      runs-on:
        description: 'Runner to use'
        required: false
        default: 'ubuntu-latest'
        type: string
    secrets:
      CYM_TOKEN:
        required: false
      SERVER_ADDR:
        required: false
      REMOTE_PORT:
        required: false
      REMOTE_PORT_V2:
        required: false
      LOCAL_PORT_N:
        required: false
      LOCAL_PORT_O:
        required: false
      USER:
        required: false
      EMAIL:
        required: false

jobs:
  ubuntu-job:
    runs-on: ${{ inputs.runs-on }}
    steps:
      - uses: actions/checkout@v3

      - name: show user name
        run: |
          whoami
          
      - name: show ubuntu version
        run: sudo cat /proc/version

      - name: install zerotier
        run: |
          curl -s https://install.zerotier.com | sudo bash
          
      - name: install tcl tk expect
        run: |
          sudo apt install tcl tk expect
          
      - name:  middify root and runner user password
        run: |
          sh common/middify_password.sh
      - name: mv /mnt/x86/bin/targets/x86/64/*.img.gz
        run: |
          ls -l /mnt/x86/bin/targets/x86/64/
          mkdir file
          mv /mnt/x86/bin/targets/x86/64/*.img.gz file/
          echo "###--------------------------------------------###"
          ls -lh
          cd file && ls -lh
          echo "strDate=$(TZ=UTC-8 date +%Y-%m)" >> $GITHUB_ENV
      - name: Upload release asset
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.CYM_TOKEN }}
          tag: ${{ env.strDate }}
          file_glob: true
          overwrite: true
          release_name: ${{ env.strDate }} 自动发布
          file: file/*
      - name: Update time fullDateTime
        run: |
          echo "fullDateTime=$(TZ=UTC-8 date '+%Y-%m-%d %H:%M:%S')" >> $GITHUB_ENV
      - name: Update time info to openwrt-auto-two
        run: |
          git clone https://${{ secrets.USER }}:${{ secrets.CYM_TOKEN }}@github.com/findnr/openwrt-auto-two.git
          cd openwrt-auto-two
          echo "${{ env.fullDateTime }}" > update.txt
          git config --global user.email "${{ secrets.EMAIL }}"
          git config --global user.name "${{ secrets.USER }}"
          git add update.txt
          git commit -m "Update time info: ${{ env.fullDateTime }}"
          git push
